:root {
  --primary: #1e242dcf;
  --secondary:rgba(71, 71, 71, 0.559);
}

.about-page {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 1rem 0rem;
  padding-bottom: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6.5rem;
}
.about-page .about-top-section {
  padding: 4.5rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  background: linear-gradient(to right, #3766e8, #6730ff, #8E1BD6);
}
.about-page .about-top-section h1 {
  color: white;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}
.about-page .about-top-section p {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
.about-page .about-mission {
  padding: 2.5rem;
  width: 100%;
  max-width: 780px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2rem;
  box-shadow: 0px 10px 20px -5px rgba(60, 60, 60, 0.518);
}
.about-page .about-mission .change {
  font-size: 1.1rem;
  line-height: 1.6;
}
.about-page .site-values {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.about-page .site-values .site-values-heading {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}
.about-page .site-values .site-values-heading h1 {
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.about-page .site-values .site-values-heading p {
  font-size: 0.95rem;
  color: var(--primary);
}
.about-page .site-values .site-card-holder {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.about-page .site-values .site-card-holder .site-card {
  padding: 2rem 1.5rem;
  width: 100%;
  min-width: 330px;
  max-width: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-radius: 15px;
  box-shadow: 0px 10px 10px -5px rgba(71, 71, 71, 0.459);
  transition: transform ease-in-out 0.2s 0.3s, box-shadow ease 0.1s;
}
.about-page .site-values .site-card-holder .site-card .site-card-icon {
  width: 65px;
  border-radius: 17px;
  padding: 0.7rem 0.4rem;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 0px;
  background: linear-gradient(to right bottom, #3766e8, #571ef7, #8E1BD6);
  color: white;
}
.about-page .site-values .site-card-holder .site-card h4 {
  font-weight: 500;
}
.about-page .site-values .site-card-holder .site-card p {
  font-size: 0.9rem;
  text-align: center;
  color: var(--primary);
}
.about-page .site-values .site-card-holder .site-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 25px 60px -20px rgba(71, 71, 71, 0.559);
}
.about-page .why-choose-us-section {
  width: 100%;
  border-radius: 15px;
  max-width: 750px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  box-shadow: 0px 10px 20px -5px rgba(71, 71, 71, 0.459);
}
.about-page .why-choose-us-section .why-choose-us-heading {
  width: 100%;
}
.about-page .why-choose-us-section .why-choose-us-heading h3 {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: capitalize;
}
.about-page .why-choose-us-section .why-choose-us-card-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
.about-page .why-choose-us-section .why-choose-us-card-section .why-choose-us-card {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}
.about-page .why-choose-us-section .why-choose-us-card-section .why-choose-us-card .complete-icon {
  font-size: 1.4rem;
  padding: 0.1rem;
  color: blue;
  margin-top: -5px;
}
.about-page .why-choose-us-section .why-choose-us-card-section .why-choose-us-card .card-description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.3rem;
}
.about-page .why-choose-us-section .why-choose-us-card-section .why-choose-us-card .card-description h3 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: capitalize;
}
.about-page .why-choose-us-section .why-choose-us-card-section .why-choose-us-card .card-description p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--primary);
}
.about-page .get-in-touch-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  max-width: 750px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px -5px rgba(71, 71, 71, 0.459);
  padding: 2rem 3rem;
  padding-bottom: 4rem;
}
.about-page .get-in-touch-section .get-in-touch-heading {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.about-page .get-in-touch-section .get-in-touch-heading h3 {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 0.9rem;
}
.about-page .get-in-touch-section .get-in-touch-heading p {
  font-size: 1.1rem;
  color: var(--primary);
}
.about-page .get-in-touch-section .get-in-touch-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
.about-page .get-in-touch-section .get-in-touch-card .card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.about-page .get-in-touch-section .get-in-touch-card .card h3 {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}
.about-page .get-in-touch-section .get-in-touch-card .card p {
  color: var(--primary);
  font-size: 0.9rem;
  text-align: center;
}

@media (min-width: 700px) {
  .about-page .get-in-touch-section .get-in-touch-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
  }
}/*# sourceMappingURL=About.css.map */