:root {
  --primary: #1e242dcf;
  --secondary: rgba(71, 71, 71, 0.559);
}

.product-page {
  position: relative;
  width: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
.product-page .product-inner-page {
  width: 100%;
  padding: 1rem;
  max-width: 1200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.product-page .product-inner-page .product-top-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
.product-page .product-inner-page .product-top-section h1 {
  font-weight: 400;
  text-transform: capitalize;
}
.product-page .product-inner-page .product-top-section p {
  font-size: 1rem;
  color: var(--primary);
  line-height: 1.5;
}
.product-page .product-inner-page .search-section {
  width: 100%;
  padding: 0.8rem 1rem;
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  border-radius: 15px;
  border: 2px solid rgba(88, 88, 88, 0.293);
}
.product-page .product-inner-page .search-section i {
  color: var(--primary);
  font-size: 1.5rem;
}
.product-page .product-inner-page .search-section input {
  font-size: 1.2rem;
  width: 90%;
  border: none;
  outline: none;
}
.product-page .product-inner-page .search-section:focus-within {
  border: 2px solid rgb(76, 0, 255);
}
.product-page .product-inner-page .product-search-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
.product-page .product-inner-page .product-search-buttons button {
  font-size: 1.1rem;
  font-weight: 100;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  border: none;
  box-shadow: 0px 2px 10px -5px var(--primary);
}
.product-page .product-inner-page .product-items-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.product-page .product-inner-page .product-items-section .topP {
  color: var(--primary);
}
.product-page .product-inner-page .product-items-section .product-card-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card {
  overflow: hidden;
  min-width: 350px;
  border-radius: 15px;
  width: 100%;
  max-width: 350px;
  min-height: 550px;
  height: 550px;
  max-height: 550px;
  position: relative;
  box-shadow: 0px 2px 5px rgba(33, 33, 33, 0.416);
  transition: transform 0.2s ease 0.2s, box-shadow 0.2s ease;
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card h3 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  color: white;
  background: linear-gradient(to right, rgb(255, 153, 0), rgb(255, 196, 0), rgb(255, 132, 0));
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.2rem 0.3rem;
  transform: translate(18%, 50%);
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card .h3-hide {
  opacity: 0;
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card .h3-open {
  opacity: 1;
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card .product-image {
  width: 100%;
  height: 60%;
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card .product-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  max-height: 350px;
  transition: all linear 0.2s;
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card .product-detail {
  width: 100%;
  height: 40%;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card .product-detail .product-category {
  color: #305ED8;
  font-weight: 400;
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card .product-detail .product-name {
  text-transform: capitalize;
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card .product-detail .product-description {
  color: rgba(30, 36, 45, 0.8117647059);
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card .product-detail .product-price-cart {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 0px;
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card .product-detail .product-price-cart h2 {
  color: #2A56D6;
  font-weight: 400;
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card .product-detail .product-price-cart .cart-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #305ED8, #144BEA);
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card .product-detail .product-price-cart .cart-button h4 {
  font-weight: 300;
  font-size: 1rem;
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 15px -5px rgba(72, 72, 72, 0.582);
}
.product-page .product-inner-page .product-items-section .product-card-section .product-card:hover .product-image img {
  scale: 1.05;
}/*# sourceMappingURL=Product.css.map */