@mixin display($align, $justify, $direction, $gap) {
  display: flex;
  align-items: $align;
  flex-direction: $direction;
  justify-content: $justify;
  gap: $gap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;

  .app {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: inter;
    position: relative;

    nav {
      width: 100%;
      position: sticky;
      top: 0;
      background-color: white;
      // position: sticky;
      padding: 1rem;
      @include display(center, center, column, 1rem);

      .upper-content {
        width: 100%;
        @include display(center, space-between, row, 0px);

        .nav-logo {
          width: 40%;
          @include display(center, flex-start, row, 5px);
          color: #2A56D6;

          .logo {
            font-size: 2rem;
          }

          h3 {
            font-size: 1rem;
            font-weight: 400;
          }
        }

        .nav-links {
          width: 40%;
          padding-right: 1rem;
          @include display(center, flex-end, row, 1.5rem);

          .cart-link {
            font-size: 1.5rem;
            background-color: transparent;
            border: none;
            color: rgba(32, 32, 32, 0.878);
          }

          .nav-button {
            font-size: 1.5rem;
            background-color: transparent;
            border: none;
            color: rgba(32, 32, 32, 0.878);
          }
        }
      }

      .navigation-links {
        width: 100%;
        height: 0px;
        opacity: 0;
        @include display(flex-start, flex-start, column, 2px);
        transition: all ease-in 0.2s;

        a {
          width: 100%;
          padding: 1rem;
          // background-color: #2A56D6;
          text-decoration: none;
          color: rgba(32, 32, 32, 0.878);
          border-radius: 5px;
        }

        a:active {
          background-color: #2A56D6;
          color: white;
        }
      }

      .navigation-active {
        display: flex;
        height: 150px;
        opacity: 1;
        // transition: all ease 0.2s;
      }
    }

    main {
      background-color: blue;
      color: white;
    }

    footer{
      padding: 2.5rem 1rem;
      background-color: #151E2E;
      @include display(center, flex-start, column, 2rem);

      .footer-upper-content {
        width: 100%;
        @include display(flex-start, flex-start, column, 2rem);

        .footer-logo {
          width: 100%;
          @include display(flex-start, space-between, column, 17px);

          .nav-logo {
            width: 40%;
            @include display(center, flex-start, row, 5px);
            color: #81a0fa;

            .logo {
              font-size: 2rem;
            }

            h3 {
              font-size: 1rem;
              font-weight: 400;
              color: white;
            }
          }

          h2 {
            font-size: 0.9rem;
            color: rgba(255, 255, 255, 0.686);
            font-weight: 300;
          }

          .footer-logo-icons {
            width: 100%;
            @include display(flex-start, flex-start, row, 10px);

            .footer-icon {
              width: 40px;
              height: 40px;
              background-color: #435065;
              color: white;
              @include display(center, center, row, 0px);
              border-radius: 50%;

              i {
                font-size: 1.6rem;
              }
            }
          }
        }

        .page-links {
          width: 100%;
          @include display(flex-start, flex-start, column, 22px);

          h1 {
            color: white;
            font-weight: 400;
            font-size: 1rem;
          }

          .links {
            width: 100%;
            @include display(flex-start, flex-start, column, 15px);

            a {
              text-decoration: none;
              color: rgba(255, 255, 255, 0.686);
              font-size: 0.9rem;
              font-weight: 200;
            }
          }
        }
        .page-contact{
          width: 100%;
          @include display(flex-start,flex-start ,column ,15px );
          h1{
            font-size: 1.2rem;
            color: white;
            font-weight: 300;
          }
          .page-contact-content{
            width: 100%;
            @include display(flex-start,flex-start ,column , 8px);
            color: rgba(255, 255, 255, 0.686);
            font-weight: 200;
            font-size: 0.9rem;
          }
        }
      }
      hr{
        color: white;
        width: 100%;
        height: 1px;
        background-color: white;
      }
      .footer-lower-content{
        width: 100%;
        @include display(center,center ,row ,0px );
        color: rgba(255, 255, 255, 0.686);
        font-weight: 200;
        font-size: 0.9rem;
      }
    }
  }
}

@media (min-width:900px){
  #root{
    .app{
      footer{
      position: fixed;
      width: 100%;
      bottom: 0;
        .footer-upper-content{
          @include display(flex-start,flex-start ,row , 10px );
          width: 100%;
          .footer-logo{
            width: 50%;
          }
          .page-links{
            width: 25%;
          }
          .page-contact{
            width: 25%;
          }
        }
      }
    }
  }
}