@mixin display($align, $justify, $direction, $gap) {
  display: flex;
  align-items: $align;
  flex-direction: $direction;
  justify-content: $justify;
  gap: $gap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

#root {
  width: 100%;

  .app {
    width: 100%;
    // height: 100%;
    min-height: 100vh;
    font-family: inter;
    position: relative;

    nav {
      width: 100%;
      // max-height: 60px;
      position: sticky;
      z-index: 1;
      top: 0;
      background-color: white;
      // position: sticky;
      padding: 1rem;
      @include display(center, center, column, 1rem);

      .upper-content {
        width: 100%;
        @include display(center, space-between, row, 0px);

        .nav-logo {
          width: 40%;
          @include display(center, flex-start, row, 5px);
          color: #2A56D6;

          .logo {
            font-size: 2rem;
          }

          h3 {
            font-size: 1rem;
            font-weight: 400;
          }
        }

        .nav-links {
          width: 40%;
          padding-right: 1rem;
          @include display(center, flex-end, row, 1.5rem);

          .cart-link {
            font-size: 1.5rem;
            background-color: transparent;
            border: none;
            color: rgba(32, 32, 32, 0.878);
          }

          .nav-button {
            font-size: 1.5rem;
            background-color: transparent;
            border: none;
            color: rgba(32, 32, 32, 0.878);
          }
        }
      }

      .navigation-links {
        width: 100%;
        height: 0px;
        opacity: 0;
        @include display(flex-start, flex-start, column, 2px);
        transition: all ease-in 0.2s;

        a {
          width: 100%;
          padding: 1rem;
          // background-color: #2A56D6;
          text-decoration: none;
          color: rgba(32, 32, 32, 0.878);
          border-radius: 5px;
        }

        a:active {
          background-color: #2A56D6;
          color: white;
        }
      }

      .navigation-active {
        display: flex;
        height: 150px;
        opacity: 1;
        // transition: all ease 0.2s;
      }

      // .navigation-close{

      // }
    }

    main {
      width: 100%;
      @include display(center, flex-start, column, 1rem);

      .home-page {
        width: 100%;
        position: relative;
        z-index: 3;
        @include display(center, flex-start, column, 3rem);

        .top-layer-section {
          width: 100%;
          @include display(center, flex-start, column, 2.5rem);
          padding: 5rem 1rem;
          background: linear-gradient(to right bottom, #3766e8, #305ED8, #8E1BD6);

          .top-layer-section-content1 {
            max-width: 600px;
            width: 100%;
            @include display(flex-start, flex-start, column, 1.5rem);

            .new-arrivals {
              width: 220px;
              color: white;
              padding: 0.5rem 0px;
              // border: 2px solid red;
              border-radius: 50px;
              background-color: rgba(231, 231, 231, 0.311);
              backdrop-filter: blur(30px);
              font-weight: 300;
              font-size: 0.9rem;
              text-align: center;
            }

            h1 {
              // font-size: clamp();
              font-size: clamp(3rem, 7vw, 4rem);
              font-weight: 400;
              line-height: 0.95;
              color: white;

              span {
                color: transparent;
                background: linear-gradient(to right, rgb(226, 255, 39), rgb(250, 167, 1), rgb(255, 179, 0));
                background-clip: text;
              }
            }

            p {
              color: white;
              line-height: 2;
              font-size: 1.2rem;
            }

            .section-content1-buttons {
              width: 100%;
              @include display(center, flex-start, row, 5px);

              #btn1 {
                border-radius: 10px;
                background-color: white;
                padding: 1rem 1.5rem;
                text-decoration: none;
                word-spacing: 2px;
                transition: all ease 0.2s;
              }

              #btn2 {
                border-radius: 10px;
                color: white;
                padding: 1rem 1.3rem;
                background-color: rgba(255, 255, 255, 0.084);
                backdrop-filter: blur(30px);
                border: 1px solid rgba(255, 255, 255, 0.689);
                transition: all ease 0.1s;
                text-decoration: none;
              }

              a:active {
                transform: scale(0.9);
              }
            }
          }

          .top-layer-section-content2 {
            width: 100%;
            max-width: 500px;
            @include display(center, center, row, 0px);
            position: relative;
            border-radius: 10px;

            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }

            .section-content2-price {
              position: absolute;
              background-color: white;
              bottom: 0px;
              left: 0;
              padding: 1.2rem;
              border-radius: 10px;
              transform: translate(-10%, 50%);

              p {
                color: rgba(0, 0, 0, 0.853);
                font-weight: 300;
                font-size: 0.8rem;
              }

              h2 {
                color: #3766e8;
                font-size: 1.7rem;
                font-weight: 400;
              }
            }
          }
        }

        .rating-section {
          width: 100%;
          @include display(center, center, column, 2rem);

          .ratings {
            width: 100%;
            @include display(center, space-around, row, 1rem);

            .rating-data {
              width: 40%;

              @include display(center, center, column, 5px);

              h1 {
                color: #305ED8;
                font-size: 2.3rem;
                font-weight: 300;
              }

              p {
                color: #435065;
                font-size: 0.9rem;
              }
            }
          }
        }
        .top-sales{
          width: 100%;
          @include display(center,center ,column ,1rem );
          .top-sales-heading{
            width: 100%;
            @include display(center,center ,column ,15px );
            h1{
              font-size: 2rem;
              font-weight: 400;
              i{
                color: rgb(255, 153, 0);
              }
            }
            p{
              max-width: 80%;
              text-align: center;
              line-height: 1.5;
              color: #1e242dcf;
            }
          }
          .top-sales-card-items{
            width: 100%;
            @include display(center,center,row ,1.5rem);
            flex-wrap: wrap;
            padding: 1rem;
            .product-card{
              overflow: hidden;
              min-width: 350px;
              border-radius: 15px;
              width: 100%;
              max-width: 350px;
              min-height: 590px;
              max-height: 600px;
              position: relative;
              box-shadow: 0px 2px 5px rgba(33, 33, 33, 0.416);
              transition: transform 0.2s ease 0.2s,
                          box-shadow 0.2s ease;
              h3{
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                color: white;
                background:linear-gradient(to right,rgb(255, 153, 0),rgb(255, 196, 0),rgb(255, 132, 0));
                border-radius: 50px;
                font-size: 0.9rem;
                font-weight: 400;
                padding: 0.2rem 0.3rem;
                transform: translate(18%,50%);
              }
              .product-image{
                width: 100%;
                height: 55%;
                img{
                  width: 100%;
                  object-fit: contain;
                  height: 100%;
                  max-height: 350px;
                  transition: all linear 0.2s;
                }
              }
              .product-detail{
                width: 100%;
                padding: 1rem;
                @include display(flex-start,space-between ,column ,15px);
                .product-category{
                  color: #305ED8;
                  font-weight: 400;
                }
                .product-name{
                  text-transform: capitalize;
                }
                .product-description{
                  color: #1e242dcf;
                }
                .product-price-cart{
                  width: 100%;
                  @include display(center,space-between ,row ,0px );
                  h2{
                    color: #2A56D6;
                    font-weight: 400;
                  }
                  .cart-button{
                    @include display(center,center ,row ,5px );
                    font-size: 1.2rem;
                    color: white;
                    padding: 0.5rem 1rem;
                    border-radius: 10px;
                    border: none;
                    background: linear-gradient(to right ,#305ED8,#144BEA);
                    h4{
                      font-weight: 300;
                      font-size: 1rem;
                    }
                  }
                }
              }
            }
            .product-card:hover{
              transform: translateY(-10px);
              box-shadow: 0px 20px 30px rgba(72, 72, 72, 0.582);
              .product-image{
                img{
                  scale: 1.05;
                }
              }
            }
          }
        }
      }
    }

    footer {
      width: 100%;
      padding: 2.5rem 1rem;
      background-color: #151E2E;
      @include display(center, flex-start, column, 2rem);

      .footer-upper-content {
        width: 100%;
        @include display(flex-start, flex-start, column, 2rem);

        .footer-logo {
          width: 100%;
          @include display(flex-start, space-between, column, 17px);

          .nav-logo {
            width: 40%;
            @include display(center, flex-start, row, 5px);
            color: #81a0fa;

            .logo {
              font-size: 2rem;
            }

            h3 {
              font-size: 1rem;
              font-weight: 400;
              color: white;
            }
          }

          h2 {
            font-size: 0.9rem;
            color: rgba(255, 255, 255, 0.686);
            font-weight: 300;
          }

          .footer-logo-icons {
            width: 100%;
            @include display(flex-start, flex-start, row, 10px);

            .footer-icon {
              width: 40px;
              height: 40px;
              background-color: #435065;
              color: white;
              @include display(center, center, row, 0px);
              border-radius: 50%;

              i {
                font-size: 1.6rem;
              }
            }
          }
        }

        .page-links {
          width: 100%;
          @include display(flex-start, flex-start, column, 22px);

          h1 {
            color: white;
            font-weight: 400;
            font-size: 1rem;
          }

          .links {
            width: 100%;
            @include display(flex-start, flex-start, column, 15px);

            a {
              text-decoration: none;
              color: rgba(255, 255, 255, 0.686);
              font-size: 0.9rem;
              font-weight: 200;
            }
          }
        }

        .page-contact {
          width: 100%;
          @include display(flex-start, flex-start, column, 15px);

          h1 {
            font-size: 1.2rem;
            color: white;
            font-weight: 300;
          }

          .page-contact-content {
            width: 100%;
            @include display(flex-start, flex-start, column, 8px);
            color: rgba(255, 255, 255, 0.686);
            font-weight: 200;
            font-size: 0.9rem;
          }
        }
      }

      hr {
        color: white;
        width: 100%;
        height: 1px;
        background-color: white;
      }

      .footer-lower-content {
        width: 100%;
        @include display(center, center, row, 0px);
        color: rgba(255, 255, 255, 0.686);
        font-weight: 200;
        font-size: 0.9rem;
      }
    }
  }
}

@media (min-width:770px) {
  #root {
    .app {
      main {
        .home-page {
          .rating-section {
            @include display(center, center, row, 0px);
          }
        }
      }
    }
  }
}

@media (min-width:900px) {
  #root {
    .app {
      main {
        .home-page {
          .top-layer-section {
            @include display(center, center, row, 2.5rem);
          }
        }
      }

      footer {
        width: 100%;

        .footer-upper-content {
          @include display(flex-start, flex-start, row, 10px);
          width: 100%;

          .footer-logo {
            width: 50%;
          }

          .page-links {
            width: 25%;
          }

          .page-contact {
            width: 25%;
          }
        }
      }
    }
  }
}