* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

#root {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  gap: 0px;
  background-color: black;
}
#root .app {
  width: 100%;
  min-height: 100vh;
  font-family: inter;
  position: relative;
  max-width: 1440px;
}
#root .app nav {
  width: 100%;
  position: sticky;
  z-index: 3;
  top: 0;
  background-color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#root .app nav .upper-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 0px;
}
#root .app nav .upper-content .nav-logo {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  color: #2A56D6;
}
#root .app nav .upper-content .nav-logo .logo {
  font-size: 2rem;
}
#root .app nav .upper-content .nav-logo h3 {
  font-size: 1rem;
  font-weight: 400;
}
#root .app nav .upper-content .nav-links {
  width: 40%;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.5rem;
}
#root .app nav .upper-content .nav-links .cart-link {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: rgba(32, 32, 32, 0.878);
}
#root .app nav .upper-content .nav-links .nav-button {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: rgba(32, 32, 32, 0.878);
}
#root .app nav .navigation-links {
  width: 100%;
  height: 0px;
  opacity: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
  transition: all ease-in 0.2s;
}
#root .app nav .navigation-links a {
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  color: rgba(32, 32, 32, 0.878);
  border-radius: 5px;
}
#root .app nav .navigation-links a:active {
  background-color: #2A56D6;
  color: white;
}
#root .app nav .navigation-active {
  display: flex;
  height: 150px;
  opacity: 1;
}
#root .app main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
#root .app main .home-page {
  width: 100%;
  position: relative;
  background-color: white;
  z-index: 3;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
}
#root .app main .home-page .top-layer-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.5rem;
  padding: 5rem 1rem;
  background: linear-gradient(to right bottom, #3766e8, #305ED8, #8E1BD6);
}
#root .app main .home-page .top-layer-section .top-layer-section-content1 {
  max-width: 600px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}
#root .app main .home-page .top-layer-section .top-layer-section-content1 .new-arrivals {
  width: 220px;
  color: white;
  padding: 0.5rem 0px;
  border-radius: 50px;
  background-color: rgba(231, 231, 231, 0.311);
  backdrop-filter: blur(30px);
  font-weight: 300;
  font-size: 0.9rem;
  text-align: center;
}
#root .app main .home-page .top-layer-section .top-layer-section-content1 h1 {
  font-size: clamp(3rem, 7vw, 4rem);
  font-weight: 400;
  line-height: 0.95;
  color: white;
}
#root .app main .home-page .top-layer-section .top-layer-section-content1 h1 span {
  color: transparent;
  background: linear-gradient(to right, rgb(226, 255, 39), rgb(250, 167, 1), rgb(255, 179, 0));
  -webkit-background-clip: text;
          background-clip: text;
}
#root .app main .home-page .top-layer-section .top-layer-section-content1 p {
  color: white;
  line-height: 2;
  font-size: 1.2rem;
}
#root .app main .home-page .top-layer-section .top-layer-section-content1 .section-content1-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
}
#root .app main .home-page .top-layer-section .top-layer-section-content1 .section-content1-buttons #btn1 {
  border-radius: 10px;
  background-color: white;
  padding: 1rem 1.5rem;
  text-decoration: none;
  word-spacing: 2px;
  transition: all ease 0.2s;
}
#root .app main .home-page .top-layer-section .top-layer-section-content1 .section-content1-buttons #btn2 {
  border-radius: 10px;
  color: white;
  padding: 1rem 1.3rem;
  background-color: rgba(255, 255, 255, 0.084);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.689);
  transition: all ease 0.1s;
  text-decoration: none;
}
#root .app main .home-page .top-layer-section .top-layer-section-content1 .section-content1-buttons a:active {
  transform: scale(0.9);
}
#root .app main .home-page .top-layer-section .top-layer-section-content2 {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 0px;
  position: relative;
  border-radius: 10px;
}
#root .app main .home-page .top-layer-section .top-layer-section-content2 img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#root .app main .home-page .top-layer-section .top-layer-section-content2 .section-content2-price {
  position: absolute;
  background-color: white;
  bottom: 0px;
  left: 0;
  padding: 1.2rem;
  border-radius: 10px;
  transform: translate(-10%, 50%);
}
#root .app main .home-page .top-layer-section .top-layer-section-content2 .section-content2-price p {
  color: rgba(0, 0, 0, 0.853);
  font-weight: 300;
  font-size: 0.8rem;
}
#root .app main .home-page .top-layer-section .top-layer-section-content2 .section-content2-price h2 {
  color: #3766e8;
  font-size: 1.7rem;
  font-weight: 400;
}
#root .app main .home-page .rating-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
#root .app main .home-page .rating-section .ratings {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
}
#root .app main .home-page .rating-section .ratings .rating-data {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
#root .app main .home-page .rating-section .ratings .rating-data h1 {
  color: #305ED8;
  font-size: 2.3rem;
  font-weight: 300;
}
#root .app main .home-page .rating-section .ratings .rating-data p {
  color: #435065;
  font-size: 0.9rem;
}
#root .app main .home-page .top-sales {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#root .app main .home-page .top-sales .top-sales-heading {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
#root .app main .home-page .top-sales .top-sales-heading h1 {
  font-size: 2rem;
  font-weight: 400;
}
#root .app main .home-page .top-sales .top-sales-heading h1 i {
  color: rgb(255, 153, 0);
}
#root .app main .home-page .top-sales .top-sales-heading p {
  max-width: 80%;
  text-align: center;
  line-height: 1.5;
  color: rgba(30, 36, 45, 0.8117647059);
}
#root .app main .home-page .top-sales .top-sales-card-items {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1rem;
}
#root .app main .home-page .top-sales .top-sales-card-items .product-card {
  overflow: hidden;
  min-width: 350px;
  border-radius: 15px;
  width: 100%;
  max-width: 350px;
  min-height: 590px;
  max-height: 600px;
  position: relative;
  box-shadow: 0px 2px 5px rgba(33, 33, 33, 0.416);
  transition: transform 0.2s ease 0.2s, box-shadow 0.2s ease;
}
#root .app main .home-page .top-sales .top-sales-card-items .product-card h3 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  color: white;
  background: linear-gradient(to right, rgb(255, 153, 0), rgb(255, 196, 0), rgb(255, 132, 0));
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.2rem 0.3rem;
  transform: translate(18%, 50%);
}
#root .app main .home-page .top-sales .top-sales-card-items .product-card .product-image {
  width: 100%;
  height: 55%;
}
#root .app main .home-page .top-sales .top-sales-card-items .product-card .product-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  max-height: 350px;
  transition: all linear 0.2s;
}
#root .app main .home-page .top-sales .top-sales-card-items .product-card .product-detail {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
#root .app main .home-page .top-sales .top-sales-card-items .product-card .product-detail .product-category {
  color: #305ED8;
  font-weight: 400;
}
#root .app main .home-page .top-sales .top-sales-card-items .product-card .product-detail .product-name {
  text-transform: capitalize;
}
#root .app main .home-page .top-sales .top-sales-card-items .product-card .product-detail .product-description {
  color: rgba(30, 36, 45, 0.8117647059);
}
#root .app main .home-page .top-sales .top-sales-card-items .product-card .product-detail .product-price-cart {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 0px;
}
#root .app main .home-page .top-sales .top-sales-card-items .product-card .product-detail .product-price-cart h2 {
  color: #2A56D6;
  font-weight: 400;
}
#root .app main .home-page .top-sales .top-sales-card-items .product-card .product-detail .product-price-cart .cart-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #305ED8, #144BEA);
}
#root .app main .home-page .top-sales .top-sales-card-items .product-card .product-detail .product-price-cart .cart-button h4 {
  font-weight: 300;
  font-size: 1rem;
}
#root .app main .home-page .top-sales .top-sales-card-items .product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 15px -5px rgba(72, 72, 72, 0.582);
}
#root .app main .home-page .top-sales .top-sales-card-items .product-card:hover .product-image img {
  scale: 1.05;
}
#root .app main .home-page .all-products-button {
  padding: 1rem 2rem;
  text-transform: capitalize;
  border-radius: 15px;
  font-size: 1rem;
  color: white;
  background-color: #144BEA;
  border: none;
  transition: all ease 0.2s;
}
#root .app main .home-page .all-products-button:active {
  scale: 0.95;
}
#root .app main .home-page .features-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#root .app main .home-page .features-section .features-heading {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}
#root .app main .home-page .features-section .features-heading h1 {
  text-align: center;
  font-weight: 500;
}
#root .app main .home-page .features-section .features-heading p {
  text-align: center;
  color: rgba(36, 44, 59, 0.7568627451);
  font-size: 0.92rem;
}
#root .app main .home-page .features-section .feature-cards-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0.2rem;
}
#root .app main .home-page .features-section .feature-cards-section .feature-card {
  max-width: 330px;
  min-width: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem 0rem;
  border-radius: 10px;
  transition: transform ease-in-out 0.2s 0.2s;
}
#root .app main .home-page .features-section .feature-cards-section .feature-card .card-icon {
  padding: 0.8rem;
  background-color: #144BEA;
  border-radius: 20px;
}
#root .app main .home-page .features-section .feature-cards-section .feature-card .card-icon i {
  color: white;
  font-size: 2.2rem;
}
#root .app main .home-page .features-section .feature-cards-section .feature-card h3 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 0.95rem;
}
#root .app main .home-page .features-section .feature-cards-section .feature-card p {
  color: rgba(44, 53, 68, 0.7803921569);
  font-size: 0.9rem;
}
#root .app main .home-page .features-section .feature-cards-section .feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 10px -5px rgba(68, 68, 68, 0.311);
}
#root .app main .home-page .review-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#root .app main .home-page .review-section .review-heading {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
}
#root .app main .home-page .review-section .review-heading h1 {
  max-width: 80%;
  font-size: 1.9rem;
  font-weight: 500;
  text-align: center;
}
#root .app main .home-page .review-section .review-heading p {
  color: rgba(37, 45, 57, 0.8274509804);
  font-size: 0.9rem;
}
#root .app main .home-page .review-section .review-card-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem 0.8rem;
}
#root .app main .home-page .review-section .review-card-section .review-card {
  width: 100%;
  max-width: 380px;
  min-width: 280px;
  padding: 1.5rem 1rem;
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: 0px 10px 10px -5px rgba(51, 51, 51, 0.312);
  transition: all ease-in-out 0.15s;
}
#root .app main .home-page .review-section .review-card-section .review-card .review-icon i {
  color: transparent;
  background-color: rgb(247, 194, 5);
  -webkit-background-clip: text;
          background-clip: text;
  font-size: 1.3rem;
}
#root .app main .home-page .review-section .review-card-section .review-card h1 {
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.6;
  font-style: italic;
  color: rgba(21, 30, 46, 0.7960784314);
}
#root .app main .home-page .review-section .review-card-section .review-card .review-name {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
#root .app main .home-page .review-section .review-card-section .review-card .review-name #p2 {
  color: rgba(21, 30, 46, 0.7960784314);
  font-size: 0.9rem;
}
#root .app main .home-page .review-section .review-card-section .review-card:hover {
  box-shadow: 0px 30px 90px -20px rgba(48, 48, 48, 0.575);
}
#root .app main .home-page .subscribeSection {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 4rem 0.5rem;
  background: linear-gradient(to right, #285ef4, rgba(91, 21, 255, 0.8784313725), #8E1BD6);
  color: white;
}
#root .app main .home-page .subscribeSection h1 {
  font-size: clamp(2.5rem, 4vw, 3rem);
  font-weight: 400;
}
#root .app main .home-page .subscribeSection p {
  text-align: center;
  color: rgba(255, 255, 255, 0.79);
}
#root .app main .home-page .subscribeSection .subscribe-button-section {
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}
#root .app main .home-page .subscribeSection .subscribe-button-section input {
  width: 100%;
  padding: 1.1rem;
  background-color: transparent;
  border: none;
  color: white;
  outline-color: white;
  font-size: 1.2rem;
  border-radius: 15px;
}
#root .app main .home-page .subscribeSection .subscribe-button-section button {
  width: 100%;
  padding: 1.1rem;
  background-color: white;
  color: #144BEA;
  border: none;
  font-size: 1.1rem;
  border-radius: 15px;
}
#root .app footer {
  width: 100%;
  padding: 2.5rem 1rem;
  background-color: #151E2E;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
#root .app footer .footer-upper-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
#root .app footer .footer-upper-content .footer-logo {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 17px;
}
#root .app footer .footer-upper-content .footer-logo .nav-logo {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  color: #81a0fa;
}
#root .app footer .footer-upper-content .footer-logo .nav-logo .logo {
  font-size: 2rem;
}
#root .app footer .footer-upper-content .footer-logo .nav-logo h3 {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}
#root .app footer .footer-upper-content .footer-logo h2 {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.686);
  font-weight: 300;
}
#root .app footer .footer-upper-content .footer-logo .footer-logo-icons {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
#root .app footer .footer-upper-content .footer-logo .footer-logo-icons .footer-icon {
  width: 40px;
  height: 40px;
  background-color: #435065;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 0px;
  border-radius: 50%;
}
#root .app footer .footer-upper-content .footer-logo .footer-logo-icons .footer-icon i {
  font-size: 1.6rem;
}
#root .app footer .footer-upper-content .page-links {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 22px;
}
#root .app footer .footer-upper-content .page-links h1 {
  color: white;
  font-weight: 400;
  font-size: 1rem;
}
#root .app footer .footer-upper-content .page-links .links {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
#root .app footer .footer-upper-content .page-links .links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.686);
  font-size: 0.9rem;
  font-weight: 200;
}
#root .app footer .footer-upper-content .page-contact {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
#root .app footer .footer-upper-content .page-contact h1 {
  font-size: 1.2rem;
  color: white;
  font-weight: 300;
}
#root .app footer .footer-upper-content .page-contact .page-contact-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  color: rgba(255, 255, 255, 0.686);
  font-weight: 200;
  font-size: 0.9rem;
}
#root .app footer hr {
  color: white;
  width: 100%;
  height: 1px;
  background-color: white;
}
#root .app footer .footer-lower-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 0px;
  color: rgba(255, 255, 255, 0.686);
  font-weight: 200;
  font-size: 0.9rem;
}

@media (min-width: 630px) {
  #root .app main .home-page .subscribeSection .subscribe-button-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  #root .app main .home-page .subscribeSection .subscribe-button-section input {
    max-width: 350px;
    width: 80%;
  }
  #root .app main .home-page .subscribeSection .subscribe-button-section button {
    max-width: 150px;
  }
}
@media (min-width: 770px) {
  #root .app main .home-page .rating-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
  }
}
@media (min-width: 900px) {
  #root .app main .home-page .top-layer-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
  }
  #root .app footer {
    width: 100%;
  }
  #root .app footer .footer-upper-content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
  }
  #root .app footer .footer-upper-content .footer-logo {
    width: 50%;
  }
  #root .app footer .footer-upper-content .page-links {
    width: 25%;
  }
  #root .app footer .footer-upper-content .page-contact {
    width: 25%;
  }
}/*# sourceMappingURL=index.css.map */